/* Style for body specifies a background color */
body {
	background-color: #F3F3F3;
	
}

i{
	color:gray;
	padding-left:1.2em;
	padding-right:1em;
	
}


.logo{
	max-width: 20%;
    height:10%;
	
}

.picture2{
	max-width:50%;
	height:35%;
	margin-right: 1em;
	margin-bottom: 2em;
}

.picture3{
	max-width:50%;
	height:35%;
	margin-right: 1em;
	margin-top:4em;
}


/* Styles for Mobile Layout */

/* Style for the container centers the page and specifies the width */
#container {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	

	
}

#container2 {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	

	
}

.Client{
  float: left;
  width: 50%;
  
}

.clientpic{
  margin-left:13em;
}

#all {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}


#form {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
	
}

#page {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}

#gallery {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}

#news {
	width: 50%;
	margin-left:3em;
	margin-right: auto;
	text-align: center;
	
}



#news1 {
	width: 50%;
	margin-left:auto;
	margin-right: 3em;
	text-align: center;
	
}

h3{
	text-align:center-right
}



/* Style for the header specifies top margin, background color, rounded corners, and center align content */
header {
	font-family: 'Lobster', cursive;
	font-size: 3em;
	margin-top: 0.1em;
	margin-bottom:0em;
	background-color: #FFFFFF;
	border-radius: 0.5em;
	text-align:center;
		
}
/* Style for nav specifies text properties */
nav {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.75em;
	font-weight: bold;
	text-align: center;
	background-color: #F3F3F3;
    margin:0;
}

/* Style specifies padding and margins for unordered list */
nav ul {
	padding: 0;
	background-color: #F3F3F3;
	margin:0em;
}

/* Style for nav li specifies the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the navigation */
nav li {
	background-color: #F3F3F3; 
	border-radius: 0em; 
	list-style-type: none; 
	margin: 0em; 
	padding: 0.4em;    
}

/* Style changes navigation link text color to white and removes the underline */
nav li a { 
	color: #F3F3F3; 
	text-decoration: none; 
	background-color: #F3F3F3;
	margin: 0em;
	
}



/* Style for the main specifies a block display, text properties, margins, padding, rounded corners, and borders  */
main {
	display: block;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	margin-top: 0.2em;
	padding: 0.5em;
	border-top: solid 0.2em #000000; 
	border-bottom: solid 0.2em #000000;
	text-align:center-right;
    border-radius: 10px; 
}

/* Style for the footer specifies font size, text alignment, and top margin */
footer {
	font-size: 1em;
	text-align: center;
	margin-top: 2em;
	 
}

video{
	width:100%;
}

.wrapper{
	margin:0 auto;
	width:100%
}

.social{
	max-width:3%;
	padding-left:4em;
	float:center;
}

/* Style displays the mobile class */
.mobile {
	display: inline;
}

/* Style hides the desktop class */
.desktop {
	display: none;
}

/* Style for the div paragraph elements */
div p {
	padding-left: 1em;
	padding-right: 1em;
}

/* Style for the section element */
section {
	background-color: #126fb4;
}

/* Style for the article element */
article {
	background-color: #FFFFFF;
	border-top: 0;
	border-radius: 0 3em 3em 3em;
	margin-bottom: 1em;
}

/* Style for the aside element */
aside {
	text-align:center;
	color: #126fb4;
	background-color: #FFFFFF;
	box-shadow: 1em 1em 1em #000000;
	border-radius: 8em;
}

/* Style for caption element */
caption {
	font-size: 1.5em;
	padding-bottom: 1em;
}

/* Style rule for label element */
label { 
	float: center;
	padding-right: 0.5em;
	text-align: center;
	width: 10em;
	font-size:1.25em;
}

/* Style for the div paragraph elements */
div p {
	padding-left: 1em;
	padding-right: 1em;
}


/* Style rule for input and textarea form elements */
input, textarea { 
    display: block;
	margin-bottom: 1.5em;
}

/* Style rule for label element */
label {
	display: block;
	
}

/* Styles for tablet viewport */
@media only screen and (min-width: 481px) {

/* Style specifies width and float for image */
img {
	max-width: 50%;
	float: left;
}

/* Style specifies margin and padding for paragraph within the header */
header p{
	margin-bottom: 4em;
	padding-top: 1.5em;	
	
}

/* Style specifies display, float, margin, padding, and width for nav list items */
nav li {
	display: inline;
	float: left;
	margin-left: 0%;
	margin-right: 0%;
	padding-left: 0;
	padding-right: 0;
	width: 23%;
}

/* Style specifies clear and margin for the main element */
main {
	clear: left;
	margin-top: 12em;
}

/* Style hides the mobile class */
.mobile {
	display: none;
}

/* Style displays the desktop class */
.desktop {
	display: inline;
}

/* Style for the section element */
section {
	background-color: #126fb4;
}

/* Style for the article element */
article {
	background-color: #FFFFFF;
	border-top: 0;
	border-radius: 0 3em 3em 3em;
	margin-bottom: 1em;
}

/* Style for the aside element */
aside {
	text-align:center;
	color: #126fb4;
	background-color: #FFFFFF;
	box-shadow: 1em 1em 1em #000000;
	border-radius: 8em;
}

/* Style for caption element */
caption {
	font-size: 1.5em;
	padding-bottom: 1em;
}

/* Style rule for label element */
label { 
	float: left;
	padding-right: 0.5em;
	text-align: right;
	width: 8em;
}

}

/* Styles for desktop viewport */
@media only screen and (min-width: 769px) {


/* Style specifies width for container */ 
#container {
	width: 90%;
	margin-top: -20em;
}

img {
	width:30%;
}

/* Style specifies margin for nav */ 
nav {
	margin-top: -15.75em;
	
}

/* Style specifies margin and padding for the unordered list within the nav */
nav ul {
    margin: 0;
	padding-left: 0%;
	padding-right: 0%;
}

/* Style for navigation list items specifies a border radius, border, background color, margin, width, and padding */ 
nav li {
	background-color: F3F3F3;
	border-radius: 0;
	margin-left: 0;
	margin-right: 0; 
	padding: 0;
	width: 7%;
}

/* Style for navigation links specifies display and padding */
nav li a {
	color: #126fb4;
	display: inline-block;
	padding: 0.7em;
	font-size: 1.25em;
}

/* Style rules for pseudo-classes */
nav li a:link {
	color: #126fb4;	
}

nav li a:hover {
	color: #35b0da;
	font-style: italic;
}

/* Style for main specifies border, border radius, box-shadow, and margin */
main {
		border: none;
		border-radius: 1em;
		box-shadow: 1em 1em 1em #331400;
		margin-top: 1em;
		overflow: auto;
}

/* Style for section element */
section {
	float: left;
	width: 60%;
}

/* Style for aside element */
aside {
	float: right;
	width: 25%;
	background-color: #126fb4;
	color: #F3F3F3;
}



}